footer {
  z-index: 2;
  margin-top: 0;
  bottom: 0;
}

.footer {
  padding: 1em;
  background: $primary;
  color: #115a77;
  min-height: 10vh;
  font-size: .9em;

  &__header {
    font-size: 1.25em;
    color: $white;
    margin-bottom: .4em;
    margin-top: .5em;
  }

  &__container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
  }

  a {
    text-decoration: none;
    color: #c4d3ff;
    line-height: 1.5em;

    &:hover {
      color: $white;
    }
  }

}
