.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background: $primary;
  color: white;
  min-height: 10vh;
  text-align: center;

  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  a {
    color: $white;
    text-underline: none;
  }
}
