footer {
  z-index: 2;
}

.footer {
  width: 100%;
  bottom: 0;
  padding: 1rem;
  margin-top: 0;
  background: $primary;
  color: white;
  min-height: 10vh;
  text-align: center;

  &__header {
    font-size: 1.4em;
    left: 0;
  }

  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  a {
    color: $white;
    text-underline: none;
  }
}
