@import "../components/restriction-circles";

.container-header {
  width: 90%;
  margin: 0 auto;
  padding: 1em;
  min-height: 32vh;

  &__bg-mask {
    img {
      position: absolute;
      right: .6em;
      top: 5vh;
      opacity: 0.6;
      z-index: -1;
    }
  }
}

.navigation {
  min-height: 7vh;
}

.map {
  width: 90%;
  margin: 0 auto;

  @media screen and (min-width: $md) {
    width: 700px;
    height: auto;
  }
}
