.container-header {
  margin: 0 auto;
  min-height: 70vh;

  &__mask {
    position: absolute;
    right: -256px;
    top: 48px;
    opacity: .15;
    z-index: -1;

    @media (max-width: $md) {
      display: none;
    }
  }
}

.map {
  width: 90%;
  margin: 0 auto;

  @media screen and (min-width: $md) {
    width: 700px;
    height: auto;
  }
}
