.container-header {
  margin: 0 auto;
  padding: 1rem;
  min-height: 60vh;

  &__mask {
    position: absolute;
    right: 0;
    opacity: 0.6;
    z-index: -1;

    @media (max-width: $md) {
      display: none;
    }
  }
}

.navigation {
  min-height: 7vh;
}

.map {
  width: 90%;
  margin: 0 auto;

  @media screen and (min-width: $md) {
    width: 700px;
    height: auto;
  }
}
