{% extends 'base.html.twig' %}

{% block title %}Kde musím nosit roušku?{% endblock %}

{% block body %}

    <div class="container-header">
        <div class="container-header__bg-mask">
            <img src="public/img/patient.svg" alt="mask">
        </div>
        <h1 class="tc">Kde musím nosit roušku?</h1>
        <div class="dynamic-tabs">
            <div class="option-group">
                <div class="option-container">

                    <input class="option-input" checked id="option-1" type="radio" name="options" />
                    <input class="option-input" id="option-2" type="radio" name="options" />

                    <label class="option" for="option-1">
                        <span class="option__indicator"></span>
                        <span class="option__label" data-target="circles">Aktuální opatření</span>
                    </label>

                    <label class="option" for="option-2">
                        <span class="option__indicator"></span>
                        <span class="option__label" data-target="circles-future">Nadcházející opatření</span>
                    </label>

                </div>
            </div>
        </div>
    </div>

    <div id="circles"></div>

    <div id="circles-future"></div>

    <div class="container-header tc">
        <h2>Kraje</h2>
        <select class="select">
            <option selected disabled>Vyberte kraj</option>
            <option value="1">Praha</option>
            <option value="2">Moravskoslezky</option>
            <option value="3">Atd</option>
        </select>
    </div>

{% endblock %}
