{% extends 'base.html.twig' %}

{% block title %}Kde musím nosit roušku?{% endblock %}

{% block body %}
    <div class="container-header">
        <img src="public/img/patient.svg" class="container-header__mask" alt="mask">

        <div class="tc font-heading intro-header">Kde musím nosit roušku?</div>

        <div class="dynamic-tabs font-heading" data-tab-id="precautions">
            <div class="dynamic-tabs__item active" data-tab-trigger="current">Aktuální opatření</div>
            <div class="dynamic-tabs__item" data-tab-trigger="upcoming">Nadcházející opatření</div>
        </div>

        <div id="precautions" class="dynamic-tabs__containers">
            <div data-tab-container="current" class="active">
                Aktuální opatření
            </div>
            <div data-tab-container="upcoming">
                Nadcházející opatření
            </div>
        </div>
    </div>

    <div id="circles"></div>

    <div class="container-header tc">
        <h2 class="font-heading">Kraje</h2>

        <select class="select">
            <option selected disabled>Vyberte kraj</option>
            <option value="1">Praha</option>
            <option value="2">Moravskoslezky</option>
            <option value="3">Atd</option>
        </select>
    </div>
    
    <div class="map">
        <img src="public/img/map-cr.svg" alt="Mapa ČR">
    </div>

{% endblock %}
