{% extends 'base.html.twig' %}

{% block title %}Kde musím nosit roušku?{% endblock %}

{% block body %}

    <div class="container-header mb-5">
        <h1 class="tc">Kde musím nosit roušku?</h1>
        <div class="card-links">
            <div class="option-group">
                <div class="option-container">

                    <input class="option-input" checked id="option-1" type="radio" name="options" />
                    <input class="option-input" id="option-2" type="radio" name="options" />

                    <label class="option" for="option-1">
                        <span class="option__indicator"></span>
                        <span class="option__label">
        Aktuální opatření
      </span>
                    </label>

                    <label class="option" for="option-2">
                        <span class="option__indicator"></span>
                        <span class="option__label">
        Nadcházející opatření
      </span>
                    </label>

                </div>
            </div>
        </div>
    </div>

    <div id="circles"></div>

{% endblock %}
