{% extends 'base.html.twig' %}

{% block title %}Kde musím nosit roušku?{% endblock %}

{% block body %}

<div class="container">
    <h1 class="tc">Kde všude musím nosit roušku?</h1>
    <div class="card-links">
        <div class="card-text active">Aktuální opatření</div>
        <div class="card-text">Nadcházející opatření</div>
    </div>
</div>

{% endblock %}
