{% extends 'base.html.twig' %}

{% block title %}Opatření{% endblock %}

{% block javascripts %}
    <script src="{{ assetPath('js/home.js') }}" async defer></script>
{% endblock %}

{% block body %}
    <article class="main-container">
        <div class="tc font-heading intro-header">
            Kde musím nosit roušku?
        </div>

        <div id="main"></div>

        <div id="regions"></div>
    </article>

    {#<article class="container tc mb-4">
        <h2>Sponzorují nás</h2>
        <div>
            <a href="http://mobilydily.cz" target="_blank">
                <img class="collaborator-logo" src="public/img/contributors/logo-svet-mobilu.jpg" width="128" alt="svet mobilu">
            </a>
        </div>
    </article>#}

{% endblock %}
