{% extends 'base.html.twig' %}

{% block title %}Opatření{% endblock %}

{% block body %}
    <div class="main-container">
        <div class="tc font-heading intro-header">
            Kde musím nosit roušku?
        </div>

        <div id="main"></div>
    </div>

{#    <div class="container-centered p-3">#}
{#        <h2 class="font-heading">Kraje</h2>#}
{#        <label>#}
{#            <select class="select">#}
{#                <option selected disabled>Vyberte kraj</option>#}
{#                <option value="1">Praha</option>#}
{#                <option value="2">Moravskoslezky</option>#}
{#                <option value="3">Atd</option>#}
{#            </select>#}
{#        </label>#}
{#    </div>#}

{#    <div class="map">#}
{#        <img src="public/img/map-cr.svg" alt="Mapa ČR">#}
{#    </div>#}

    <div class="container tc mb-4">
        <h2>Sponzorují nás</h2>
        <div>
            <a href="http://mobilydily.cz" target="_blank">
                <img class="collaborator-logo" src="public/img/contributors/logo-svet-mobilu.jpg" width="128" alt="svet mobilu">
            </a>
        </div>
    </div>

{% endblock %}
