{% extends 'base.html.twig' %}

{% block title %}O nás{% endblock %}

{% block body %}
<div class="main-container">
    <div class="tc font-heading intro-header">O nás</div>

    <h2 class="font-heading tc">Zakladatelé</h2>

    <div class="container d-flex jcc">
        <a class="profile" href="https://www.linkedin.com/in/martin-pu%C4%8Dan-b4698715a/" target="_blank">
            <img src="{{ imagePath('about-us/martin.jpg') }}" alt="Martin" class="profile__image">
            <span class="profile__name">Martin Pučan</span>
        </a>
        <a class="profile" href="https://www.linkedin.com/in/simonraichl/" target="_blank">
            <img src="{{ imagePath('about-us/simon.jpg') }}" alt="Simon" class="profile__image">
            <span class="profile__name">Šimon Raichl</span>
        </a>
    </div>

    <br>

    <h2 class="font-heading tc">Ikony</h2>

    <div class="d-flex jcc">
        <a href="https://www.freepik.com/" class="profile profile__name">Freepik</a>
    </div>
</div>
{% endblock %}
