{% extends 'base.html.twig' %}

{% block title %}Hello AboutUsController!{% endblock %}

{% block body %}
<div class="container-header">
    <div class="tc font-heading intro-header">O nás</div>
    <div class="container-flex-center">
        <div class="profile">
            <img src="public/img/about-us/martinpucan.png" alt="profile picture">
            <a href="https://www.linkedin.com/in/martin-pu%C4%8Dan-b4698715a/" class="profile__name">Martin Pučan</a>
        </div>
        <div class="profile">
            <img src="public/img/about-us/simonraichl.png" alt="profile picture">
            <a href="https://www.linkedin.com/in/simonraichl/" class="profile__name">Šimon Raichl</a>
        </div>
        <div class="profile">
            <img src="public/img/about-us" alt="profile picture">
            <a href="https://www.freepik.com/" class="profile__name">Freepik</a>
        </div>
    </div>
</div>
{% endblock %}
