{% extends 'base.html.twig' %}

{% block title %}O nás{% endblock %}

{% block body %}
<div class="main-container">
    <div class="tc font-heading intro-header">O nás</div>

    <h2 class="font-heading tc">Zakladatelé</h2>

    <div class="container d-flex jcc">
        <div class="profile">
            <img src="public/img/about-us/martinpucan.png" alt="profile picture">
            <a href="https://www.linkedin.com/in/martin-pu%C4%8Dan-b4698715a/" class="profile__name">Martin Pučan</a>
        </div>
        <div class="profile">
            <img src="public/img/about-us/simonraichl.png" alt="profile picture">
            <a href="https://www.linkedin.com/in/simonraichl/" class="profile__name">Šimon Raichl</a>
        </div>
    </div>

    <h2 class="font-heading tc">Grafika</h2>

    <div class="d-flex jcc">
        <a href="https://www.freepik.com/" class="profile__name">Freepik</a>
    </div>
</div>
{% endblock %}
