@import "settings/settings";
@import "elements/elements";
@import "objects/layout";
@import "components/components";
@import "utilities/utilities.scss";


body {
  margin: 0 auto;
  background: $white;
  font-family: 'Montserrat', serif;

  @media screen and (min-width: $xs) {
    font-size: 22px;
  }

  @media only screen and (min-width: $sm) {
    font-size: 26px;
  }

  @media only screen and (min-width: $md) {
    font-size: 32px;
  }

}
