@import "settings/settings";
@import "objects/layout";
@import "utilities/utilities";

body {
  background: $grey-extra-light;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
