@import "settings/settings";
@import "objects/layout";
@import "utilities/utilities.scss";


body {
  margin: 0 auto;
  background: $primary;
  font-family: 'Montserrat', serif;
  font-size: 32px;

  @media screen and (max-width: $md) {
    font-size: 28px;
  }
}
