{% set polyfillObjects = [
    'Object.assign',
    'fetch'
] %}

<!DOCTYPE html>
<html lang="cs">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-81525037-2"></script>
        <script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-81525037-2');
        </script>
        <meta charset="UTF-8">
        <link rel="canonical" href="https://kderousku.cz">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ assetPath('css/app.css') }}">
        <meta name="description" content="Informace o všech opatřeních ⚠️, na kterých místech Vláda ČR nařizuje nošení roušek.">
        <script src="https://polyfill.io/v3/polyfill.min.js?features={{ polyfillObjects|join('%2C') }}"></script>
        <script src="{{ assetPath('js/app.js') }}" async defer></script>
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        <footer class="footer">
            <div class="footer__container">
                <div>
                    <div class="footer__header">Zdroje</div>
                    <div class="d-col">
                        <a href="https://koronavirus.mzcr.cz/">MZČR</a>
                        <a href="https://vlada.cz">Vláda</a>
                        <a href="https://covidpass.cz">CovidPass</a>
                    </div>
                </div>
                <div>
                    <div class="footer__header">Sociální sítě</div>
                    <div>
                        <a href="https://www.instagram.com/kderousku/" target="_blank">
                            Instagram
                        </a>
                    </div>
                </div>
                <div>
                    <div class="footer__header">Team</div>
                    <a href="{{ path('about_us') }}">O nás</a>
                </div>
            </div>

{#            <div name="authors" class="tc pt-4">#}
{#                <a href="https://www.linkedin.com/in/martin-pu%C4%8Dan-b4698715a/">Martin Pučan</a> &&#}
{#                <a href="https://www.linkedin.com/in/simonraichl/">Šimon Raichl</a> &&#}
{#                <a href="https://www.freepik.com/">Freepik</a>#}
{#            </div>#}
        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
