{% set polyfillObjects = [
    'Object.assign',
    'fetch'
] %}

<!DOCTYPE html>
<html lang="cs">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-81525037-2"></script>
        <script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-81525037-2');
        </script>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
{#        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">#}
{#        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">#}
        <link rel="stylesheet" href="{{ assetPath('css/app.css') }}">
        <meta name="description" content="Informace o tom, na kterých místech Vláda ČR, nařizuje nošení roušek.">
        <script src="https://polyfill.io/v3/polyfill.min.js?features={{ polyfillObjects|join('%2C') }}"></script>
        <script src="{{ assetPath('js/app.js') }}" async defer></script>
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        <footer class="footer">
            <div><h3>neco</h3></div>
            <div><h3>Socialni site</h3></div>
            <div><h3>neco</h3></div>
        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
