.card {
  background: $white;
  box-shadow: 0 2px 8px 0 rgba(209,209,209,1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  &__left {
    width: 20%;
    background: #7d8088;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__right {
    width: 80%;
    padding: .75em;
  }
}
