.dynamic-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;

  &__item {
    text-align: center;
    padding: 1rem;
    position: relative;
    transform: scale(.85) translateY(2px);
    cursor: pointer;
    transition: .35s;
    color: lighten($primary, 25%);

    &.active {
      color: $primary;
      transform: scale(1.15) translateY(0);

      &::after {
        content: "";
        position: absolute;
        animation: .5s forwards underlineFadeIn;
        height: 2px;
        background: $primary;
        bottom: 4px;
        left: .5rem;
      }
    }
  }

  @media (max-width: $md) {
    padding: .5rem;
  }
}

@keyframes underlineFadeIn {
  0% {
    width: 0;
  }

  100% {
    width: calc(100% - 1rem);
  }
}