.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 1rem;
  text-decoration: none;

  &__name {
    color: $grey;
    font-size: 1.1rem;
  }

  &__image {
    border-radius: 50%;
    width: 100px;
    margin: 0 0 .7rem;

    &:hover {
      transform: scale(1.1);
      transition: .35s;
    }
  }

  &:hover {
    text-decoration: underline;
    color: $black;
  }
}