.restriction-badges {
  background: $primary;
  padding: 3rem 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: $white;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 120vw;
    height: 96px;
    top: -24px;
    opacity: 0.7;
    transform: rotate(2deg);
    background: $primary;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 25%;
    max-width: 240px;
    color: $white;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 2rem 0 0;
    border-radius: 1rem;

    &--header {
      transform: translateY(-3.7rem);
      background: rgba(40, 65, 83, .9);
      align-self: center;
      width: fit-content;
      padding: .15rem 1.5rem;
      border-radius: 5px;
    }

    &:hover {
      background: lighten($primary, 2.5%);
      transform: translateY(-3px);
      transition: .5s;
    }

    &.active {
      background: lighten($primary, 5%);
    }
  }
}