.restriction-card {
  background: $white;
  box-shadow: 0 0 8px #c6c6c6;
  max-width: 768px;
  margin: 1rem auto;
  display: flex;
  overflow: hidden;
  border-radius: 12px;

  &__left {
    flex-basis: 18%;
    background: #bbbdc1;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;

    @media (max-width: $sm) {
      border-bottom-left-radius: 0;
      border-top-right-radius: 12px;
    }
  }

  &__right {
    z-index: 10;
    background: $white;
    flex-basis: 82%;
    display: flex;
    flex-direction: column;

    &-header {
      color: #102f40;
      font-size: 1.7rem;
      font-weight: 800;
      margin: .5rem .75rem;

      @media (max-width: $sm) {
        text-align: center;
        padding: 0;
        margin: 1rem;
      }
    }

    &-img {
      width: 96px;
      padding: .3rem;

      @media (max-width: $sm) {
        width: 64px;
      }
    }

    &-description {
      min-height: 5vh;
      margin: .9rem;
    }

    &-date {
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background: #f6f6f6;
      padding: 1rem;
      bottom: 0;

      @media (max-width: $sm) {
        justify-content: center;
        padding: .6rem;
      }

      &-date-remain {
        font-size: 0.7rem;
        color: #435d6b;
        align-items: flex-start;

        @media (max-width: $sm) {
          margin-left: 1rem;
        }
      }
    }

    &-range {
      font-size: 1.1rem;

      @media (max-width: $sm) {
        text-align: center;
      }
    }
  }

  @media (max-width: $md) {
    margin: .6rem;
    flex-wrap: wrap;

    &__left, &__right {
      flex-basis: 100%;
    }
  }
}
