.restriction-badges {
  background: rgb(14, 132, 253, .8);
  min-height: 128px;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: $white;
  position: relative;

  @media screen and (max-width: $sm) {
    padding: .3rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 25%;
    margin: .3rem;
    padding: .4em;
    max-width: 150px;
    color: $white;
    text-align: center;
    cursor: pointer;
    border-radius: 1rem;
    z-index: 10;
    animation: boost 1s ease;

    @media screen and (max-width: $sm) {
      margin: .6rem;
      max-width: 70px;
    }

    @media screen and (max-width: $sm) {
      margin: .5rem;
      max-width: 100px;
    }

    @keyframes boost {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    &--img {
      width: 64px;

      @media screen and (max-width: $sm) {
        width: 40px;
      }
    }

    &--header {
      transform: translateY(-0.3rem);
      background: rgba(40, 65, 83, .9);
      align-self: center;
      width: fit-content;
      opacity: .9;
      padding: .07rem 1.5rem;
      border-radius: 5px;

      @media screen and (max-width: $sm) {
        padding: .07rem .9rem;
      }
    }

    &:hover {
      background: lighten($primary, 2.5%);
      transform: translateY(-3px);
      transition: .5s;
    }

    &.active {
      background: lighten($primary, 5%);
    }
  }
}