$details-padding: 1em;

details {
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
  background: $white;
  box-shadow: 0 0 8px #c6c6c6;
  max-width: 768px;
  border-radius: 8px;
  position: relative;

  @media screen and (max-width: $md) {
    margin: .6rem;
  }

  .summary-title {
    user-select: none;
    font-size: 1.2em;

    @media screen and (min-width: $sm) {
      font-size: 1.5em;
    }

    @media screen and (min-width: $md) {
      font-size: 1.8em;
    }

  }

  &:hover {
    cursor: pointer;
  }

  .summary-content {
    border-top: 1px solid #e2e8f0;
    cursor: default;
    padding: $details-padding;
    font-weight: 300;
    line-height: 1.5;
  }

  summary {
    padding: $details-padding;

    &:focus {
      outline: none;
    }

    &:hover .summary-chevron-up svg {
      opacity: 1;
    }
  }

  .summary-chevron-up svg {
    opacity: 0.5;
  }

  .summary-chevron-up,
  .summary-chevron-down {
    pointer-events: none;
    position: absolute;
    top: 0.75em;
    right: $details-padding;
    background: #ffffff;

    svg {
      display: block;
    }
  }

  summary::-webkit-details-marker {
    display: none;
  }
}
