.float-left {
  float: left;
}

.d {
  &-flex {
    display: flex;
  }

  &-block {
    display: block;
  }

  &-col {
    display: flex;
    flex-direction: column;
  }
}

.j-con {
  &__center {
    justify-content: center;
  }
}

.a-ite {
  &__center {
    align-items: center;
  }
}
